<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/etalage.css'>
    <script src='/javascripts/jquery.etalage.min.js'></script>
    <script>
        jQuery(document).ready(function ($) {
            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                /*click_callback: function(image_anchor, instance_id){
                    alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
                }*/
            });

        });
    </script>
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="/javascripts/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function () {
            $('.scroll-pane').jScrollPane();
        });
    </script>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-bottom-bottom">
            <div class="top-nav">
                <span class="menu"> </span>
                <ul>
                    <li><a href="/">Home </a></li>
                    {{#each type_list}}
                        {{#ifEquals this._id ../productCurrent.type}}
                            <li class="active"><a href="/type/{{this._id}}">{{this.name}}</a></li><!--men.html-->
                        {{else}}
                            <li><a href="/type/{{this._id}}">{{this.name}}</a></li><!--men.html-->
                        {{/ifEquals}}
                    {{/each}}
                </ul>
                <script>
                    $("span.menu").click(function () {
                        $(".top-nav ul").slideToggle(500, function () {
                        });
                    });
                </script>
                <div class="clearfix"></div>
            </div>
            <div class="search">
                <form action="/search/{{this.content}}" method="get">
                    <input type="text" name="content" placeholder="Search" onfocus="this.value = '';">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="single">
            <div class="col-md-9">
                <div class="single_grid">
                    <div class="grid images_3_of_2">
                        <ul id="etalage">
                            {{# each productInfo}}
                                <li>
                                    <a href="#"><!--optionallink.html-->
                                        <img class="etalage_thumb_image img-responsive" src="{{this.image}}" alt="">
                                        <img class="etalage_source_image img-responsive" src="{{this.image}}" alt="">
                                    </a>
                                </li>
                            {{/each}}

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!---->
                    <div class="span1_of_1_des">
                        <div class="desc1">
                            <h3>{{productCurrent.product_name}} </h3>
                            <!--<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>-->
                            {{#if productCurrent.discount}}
                                <h4 style="text-decoration-line: line-through">{{formatCurrency productCurrent.price}}₫</h4>
                            {{/if}}
                            <h5>{{formatCurrency productCurrent.discount_price}}₫</h5>
                            <div class="available">
                                <h4>Available Options :</h4>
                                <ul>
                                    <li>Size:
                                        <select>
                                            <!--<option>L</option>
                                            <option>XL</option>
                                            <option>S</option>
                                            <option>M</option>-->
                                            {{#each productInfo}}
                                                <option>{{this.size}}</option>
                                            {{/each}}
                                        </select>
                                    </li>
                                    <li>Color:
                                        <select>
                                            <!--<option>Red</option>
                                            <option>Green</option>
                                            <option>Blue</option>
                                            <option>Pink</option>
                                            <option>Yellow</option>
                                            <option>Purple</option>
                                            <option>Orange</option>
                                            <option>Black</option>
                                            <option>White</option>
                                            <option>Brown</option>-->
                                            {{#each productInfo}}
                                                <option>{{this.color}}</option>
                                            {{/each}}
                                        </select>
                                    </li>
                                </ul>
                                <div class="form-in">
                                    <a href="#">Add To Cart</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="share-desc">
                                <div class="share">
                                    <h4>Share Product :</h4>
                                    <ul class="share_nav">
                                        <li><a href="#"><img src="/images/facebook.png" title="facebook"></a></li>
                                        <li><a href="#"><img src="/images/twitter.png" title="Twiiter"></a></li>
                                        <li><a href="#"><img src="/images/rss.png" title="Rss"></a></li>
                                        <li><a href="#"><img src="/images/gpluse.png" title="Google+"></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!----- tabs-box ---->
                <div class="sap_tabs">
                    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                        <ul class="resp-tabs-list">
                            <li class="resp-tab-item " aria-controls="tab_item-0" role="tab">
                                <span>Product Description</span></li>
                            <li class="resp-tab-item" aria-controls="tab_item-1" role="tab">
                                <span>Additional Information</span></li>
                            <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Reviews</span></li>
                            <div class="clearfix"></div>
                        </ul>
                        <div class="resp-tabs-container">
                            <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span
                                    class="resp-arrow"></span>Product Description</h2>
                            <div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0"
                                 style="display:block">
                                <div class="facts">
                                    <p> There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable. If you are going to use a passage of
                                        Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
                                        predefined chunks as necessary, making this the first true generator on the
                                        Internet. It uses a dictionary of over 200 Latin words, combined </p>
                                    <ul>
                                        <li>Research</li>
                                        <li>Design and Development</li>
                                        <li>Porting and Optimization</li>
                                        <li>System integration</li>
                                        <li>Verification, Validation and Testing</li>
                                        <li>Maintenance and Support</li>
                                    </ul>
                                </div>
                            </div>
                            <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span
                                    class="resp-arrow"></span>Additional Information</h2>
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                                <div class="facts">
                                    <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                        old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                                        Virginia, looked up one of the more obscure Latin words, consectetur, from a
                                        Lorem Ipsum passage, and going through the cites of the word in classical
                                        literature, discovered the undoubtable source. Lorem Ipsum comes from
                                        sections </p>
                                    <ul>
                                        <li>Multimedia Systems</li>
                                        <li>Digital media adapters</li>
                                        <li>Set top boxes for HDTV and IPTV Player applications on various Operating
                                            Systems and Hardware Platforms
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span
                                    class="resp-arrow"></span>Reviews</h2>
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                                <div class="facts">
                                    <p> There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable. If you are going to use a passage of
                                        Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
                                        predefined chunks as necessary, making this the first true generator on the
                                        Internet. It uses a dictionary of over 200 Latin words, combined </p>
                                    <ul>
                                        <li>Research</li>
                                        <li>Design and Development</li>
                                        <li>Porting and Optimization</li>
                                        <li>System integration</li>
                                        <li>Verification, Validation and Testing</li>
                                        <li>Maintenance and Support</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="/javascripts/easyResponsiveTabs.js" type="text/javascript"></script>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#horizontalTab').easyResponsiveTabs({
                                type: 'default', //Types: default, vertical, accordion
                                width: 'auto', //auto or any width like 600px
                                fit: true   // 100% fit in a container
                            });
                        });
                    </script>
                </div>
            </div>

            <div class="col-md-3">
                <div class="w_sidebar">
                    <section class="sky-form">
                        <h4>catogories</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                {{#each category_list}}
                                    {{#ifEquals this._id ../productCurrent.category}}
                                        <label class="checkbox"><input type="checkbox" disabled name="checkbox"
                                                                       checked=""><i></i>{{this.name}}</label>
                                    {{else}}
                                        <label class="checkbox"><input type="checkbox" disabled
                                                                       name="checkbox"><i></i>{{this.name}}
                                        </label>
                                    {{/ifEquals}}
                                {{/each}}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1><small class="pull-right">{{comment_list.length}} comments</small> Comments </h1>
                </div>
                <div class="comments-list">
                    {{#each comment_list}}
                        <div class="media">
                            <p class="pull-right"><small>{{this.time}}</small></p>
                            <div class="media-body">

                                <h4 class="media-heading user_name">{{this.fullname}}</h4>
                                {{this.subject}}

                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <script>
            function validateForm() {
                var x = document.forms["commentForm"]["fullname"].value;
                var y = document.forms["commentForm"]["subject"].value;
                if (x == "") {
                    alert("Name must be filled out");
                    return false;
                } else if (y == "") {
                    alert("You should write something");
                    return false;
                }
            }
        </script>
        <div class="comment">
            <form action="/product/{{productCurrent._id}}" onsubmit="return validateForm()" method="post" name="commentForm">
                <label for="fname">Full Name</label>
                <br>
                {{#if user}}
                    <input type="text" id="fname" name="fullname" placeholder="Your name.." value="{{user.name}}" readonly>
                {{else}}
                    <input type="text" id="fname" name="fullname" placeholder="Your name..">
                {{/if}}
                <br>
                <label for="subject">Subject</label>
                <br>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="lady-in-on">
            <div class="buy-an">
                <h3>OTHER PRODUCTS</h3>
                <p>Check our all latest products in this section.</p>
            </div>
            <ul id="flexiselDemo1">
                {{#each product_list}}
                    {{#ifEquals this.category ../productCurrent.category}}
                        <li><a href="{{this.url}}"><img class="img-responsive women" src="{{this.image}}" alt=""></a>
                            <div class="hide-in">
                                <p>{{this.product_name}}</p>
                                <span>{{formatCurrency this.discount_price}}₫  |  <a href="{{this.url}}">Buy Now </a></span>
                            </div>
                        </li>
                    {{/ifEquals}}
                {{/each}}
            </ul>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel({
                        visibleItems: 4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script type="text/javascript" src="/javascripts/jquery.flexisel.js"></script>
        </div>
    </div>
</div>
</body>