<!DOCTYPE html>
<html>
  <head>
      <title>Home</title>
      <link href='/stylesheets/bootstrap.css' rel='stylesheet' type='text/css' media='all' />
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src='/javascripts/jquery.min.js'></script>
      <!-- Custom Theme files -->
      <!--theme-style-->
      <link href='/stylesheets/style.css' rel='stylesheet'/>
      <!--//theme-style-->
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <meta http-equiv="Content-Type" content='text/html; charset=utf-8' />
      <meta name='keywords' content='Fashion Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design' />
      <script type='application/x-javascript'> addEventListener('load', function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
      <!--fonts-->
      <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
      <!--//fonts-->
     <script>
          function myLoginFunction(){
              let txtUsername = document.getElementById("id_username").value;
              let txtPassword = document.getElementById("id_password").value;
              var flag = false;
              {{#each customer_list}}
                  if (txtUsername === String("{{this.username}}") && txtPassword === String("{{this.password}}"))
                  {
                      flag = true;
                  }
              {{/each}}
              if (flag === true) {
                  alert("Login successful!");
              } else {
                  alert("Login failed!");
              }

          }
      </script>
  </head>
  <body>
  <!--header-->
  <div class="header">
      <div class="header-top">
          <div class="container">
              <div class="header-grid">
                  <ul>
                      <li><a href="#" class="scroll">Articles</a></li><!--articles.html-->
                      <li><a href="#" class="scroll">Contact  </a></li><!--contact.html-->
                      <li><a href="#" class="scroll">Terms</a></li>
                  </ul>
              </div>
              <div class="header-grid-right">
                  <a href="#" class="sign-in">Sign In</a>
                    <form>
                    <input type="text" id="id_username" value="Username" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    <input type="password" id="id_password" value="Password" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    <input type="submit" value="Go" onclick="myLoginFunction()" >
                    </form>
                  <label>|</label>
                  <a href="#" class="sign-up">Sign Up</a><!--signup.html-->
              </div>
              <div class="clearfix"> </div>
          </div>
      </div>
      <div class="container">
          <div class="header-bottom">
              <div class="logo">
                  <a href="/"><img src="/images/logo.png" alt=" " ></a>
              </div>
              <div class="ad-right">
                  <img class="img-responsive" src="/images/ad.png" alt=" " >
              </div>
              <div class="clearfix"> </div>
          </div>
          <div class="header-bottom-bottom">
              <div class="top-nav">
                  <span class="menu"> </span>
                  <ul>
                      <li class="active"><a href="/">HOME </a></li>
                      {{# each category_list}}
                          <li><a href="#" >{{this.name}}</a></li><!--men.html-->
                      {{/each}}
                  </ul>
                  <script>
                      $("span.menu").click(function(){
                          $(".top-nav ul").slideToggle(500, function(){
                          });
                      });
                  </script>

                  <div class="clearfix"> </div>
              </div>
              <div class="search">
                  <form>
                      <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
                      <input type="submit"  value="">
                  </form>
              </div>
              <div class="clearfix"> </div>
          </div>
      </div>
  </div>
    {{{body}}}
  <!--footer-->
  <div class="footer">
      <div class="container">
          <div class="footer-class">
              <div class="class-footer">
                  <ul>
                      <li ><a href="/" class="scroll">HOME </a><label>|</label></li>
                      {{#each category_list}}
                          <li><a href="#" >{{this.name}}</a><label>|</label></li><!--men.html-->
                      {{/each}}
                  </ul>
                  <p class="footer-grid">&copy; 2014 Template by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
              </div>
              <div class="footer-left">
                  <a href="/"><img src="/images/logo1.png" alt=" " ></a>
              </div>
              <div class="clearfix"> </div>
          </div>
      </div>
  </div>
  </body>
</html>
