<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png"/>
    <link href='/stylesheets/bootstrap.css' rel='stylesheet' type='text/css' media='all'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src='/javascripts/jquery.min.js'></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href='/stylesheets/style.css' rel='stylesheet'/>
    <!--//theme-style-->
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="Content-Type" content='text/html; charset=utf-8'/>
    <meta name='keywords' content='Fashion Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design'/>
    <script type='application/x-javascript'> addEventListener('load', function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-grid">
                <ul>
                    <a href="/shopping-cart/" class="btn btn-info btn-lg" style="margin-top: 6px">
                        <span><img src="/images/shopping_cart.png"></span> Shopping Cart
                        <span class="badge">{{session.cart.totalQty}}</span>
                    </a>
                </ul>
            </div>
            <script>
                function validateForm() {
                    var username = document.forms["loginForm"]["username"].value;
                    var password = document.forms["loginForm"]["password"].value;
                    if (username == "") {
                        alert("Name must be filled out");
                        return false;
                    } else if (password == "") {
                        alert("Please enter your password");
                        return false;
                    }
                }
            </script>
            {{#ifValue "10" mess}}
                <div class="header-grid-right">
                    <a href="/user/{{user._id}}" class="sign-up">Xin chào, {{user.name}}</a>
                    <label>|</label>
                    <a href="/signout" id="signoutButton" class="sign-up">Sign out</a><!--signup.html-->
                </div>
            {{else}}
                {{#ifValue "11" mess}}
                    <div class="header-grid-right">
                        <a href="/user/{{user._id}}" class="sign-up">Xin chào, {{user.name}}</a><!--signup.html-->
                        <label>|</label>
                        <a href="/signout" id="signoutButton" class="sign-up">Sign out</a><!--signup.html-->
                    </div>
                {{else}}
                    {{#ifValue "12" mess}}
                        <div class="header-grid-right">
                            <a href="/user/{{user._id}}" class="sign-up">Xin chào, {{user.name}}</a><!--signup.html-->
                            <label>|</label>
                            <a href="/signout" id="signoutButton" class="sign-up">Sign out</a><!--signup.html-->
                        </div>
                    {{else}}
                        {{#ifValue "17" mess}}
                            <div class="header-grid-right">
                                <a href="/user/{{user._id}}" class="sign-up">Xin chào, {{user.name}}</a><!--signup.html-->
                                <label>|</label>
                                <a href="/signout" id="signoutButton" class="sign-up">Sign out</a><!--signup.html-->
                            </div>
                            <script>
                                alert("Thông báo: Đã đặt hàng thành công");
                            </script>
                        {{else}}
                            {{#ifValue "15" mess}}
                                <div class="header-grid-right">
                                    <a href="#" class="sign-in">Sign In</a>
                                    <form action="/login" onsubmit="return validateForm()" method="post" name="loginForm">
                                        <input type="text" name="username" placeholder="Username">
                                        <input type="password" name="password" placeholder="Password">
                                        <input type="submit" value="Go">
                                    </form>
                                    <label>|</label>
                                    <a href="/signup" class="sign-up2">Sign Up</a><!--signup.html-->
                                </div>
                                <script>
                                    alert("Lỗi: Tên đăng nhập hoặc mật khẩu sai");
                                </script>
                                {{else}}
                                <div class="header-grid-right">
                                    <a href="#" class="sign-in">Sign In</a>
                                    <form action="/login" onsubmit="return validateForm()" method="post" name="loginForm">
                                        <input type="text" name="username" placeholder="Username">
                                        <input type="password" name="password" placeholder="Password">
                                        <input type="submit" value="Go">
                                    </form>
                                    <label>|</label>
                                    <a href="/signup" class="sign-up2">Sign Up</a><!--signup.html-->
                                </div>
                            {{/ifValue}}
                        {{/ifValue}}
                    {{/ifValue}}
                {{/ifValue}}

            {{/ifValue}}
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="header-bottom">
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt=" "></a>
            </div>
            <div class="ad-right">
                <img class="img-responsive" src="/images/ad.png" alt=" ">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{{{body}}}
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="footer-class">
            <div class="class-footer">
                <ul>
                    <li><a href="/" class="scroll">Home </a><label>|</label></li>
                    {{#each type_list}}
                        <li><a href="/type/{{this._id}}">{{this.name}}</a><label>|</label></li><!--men.html-->
                    {{/each}}
                </ul>
            </div>
            <div class="footer-left">
                <a href="/"><img src="/images/logo1.png" alt=" "></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>
