<head>
    <title>{{title}}</title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-bottom-bottom">
            <div class="top-nav">
                <span class="menu"> </span>
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    {{#each type_list}}
                        <li><a href="/type/{{this._id}}">{{this.name}}</a></li><!--men.html-->
                    {{/each}}
                </ul>
                <script>
                    $("span.menu").click(function () {
                        $(".top-nav ul").slideToggle(500, function () {
                        });
                    });
                </script>
                <div class="clearfix"></div>
            </div>
            <div class="search">
                <form action="/search/{{this.content}}" method="get">
                    <input type="text" name="content" placeholder="Search" onfocus="this.value = '';">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="women-in">
            <h4>Don't like this result. Try our <a href="/advanced-search/">Advanced search</a>.</h4>
            <div class="col-md-9 col-d">
                <div class="in-line">
                    <div class="lady-in">
                        {{#if search_list.length}}
                            {{# each search_list}}
                                <div class="col-md-4 you-para">
                                    <a href="{{this.url}}"><img class="img-responsive pic-in" src="../{{this.image}}"
                                                                alt="ERROR"></a>
                                    {{#if this.discount_amount}}
                                        <div class="you-in">
                                            <span><label>{{this.discount_amount}}%</label></span>
                                            <small>off</small>
                                        </div>
                                    {{/if}}
                                    <p>{{this.product_name}}</p>
                                    <span>{{formatCurrency this.discount_price}}₫</span> | <label class="cat-in"> </label>
                                    <a href="#">Add to
                                        Cart </a>
                                </div>
                            {{/each}}
                        {{else}}
                            <h4>Not found</h4>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-m-left">
                <div class="discount">
                    <a href="#"><img class="img-responsive" src="../images/p2.jpg" alt=" "></a><!--single.html-->
                    <p class="no-more">Exclusive <b>discount</b> <span>Womens wear</span></p>
                    <a href="#" class="know-more">know more</a>
                </div>
                <div class="discount">
                    <a href="#"><img class="img-responsive" src="../images/p3.jpg" alt=" "></a><!--single.html-->
                    <p class="no-more no-get">Get Exclusive <b>discount on</b> <span>Ladies wear</span></p>
                    <a href="#" class="know-more">know more</a>
                </div>
                <div class="twitter-in">
                    <h5>TWITTER UPDATES</h5>
                    <span class="twitter-ic">	</span>
                    <div class="up-date">
                        <p>@suniljoshi Looks like nice and dicent design</p>
                        <a href="#">http://bit.ly/sun</a>
                        <p class="ago">About 1 hour ago via twitterfeed</p>
                    </div>
                    <div class="up-date">
                        <p>@suniljoshi Looks like nice and dicent design</p>
                        <a href="#">http://bit.ly/sun</a>
                        <p class="ago">About 1 hour ago via twitterfeed</p>
                    </div>
                    <a href="#" class="tweets">More Tweets</a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="lady-in-on">
            <div class="buy-an">
                <h3>OTHER PRODUCTS</h3>
                <p>Check our all latest products in this section.</p>
            </div>
            <ul id="flexiselDemo1">
                {{#each product_list}}
                    <li><a href="{{this.url}}"><img class="img-responsive women" src="{{this.image}}" alt=""></a>
                        <div class="hide-in">
                            <p>{{this.product_name}}</p>
                            <span>{{formatCurrency this.discount_price}}₫  |  <a href="{{this.url}}">Buy Now </a></span>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel({
                        visibleItems: 4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script type="text/javascript" src="/javascripts/jquery.flexisel.js"></script>
        </div>
    </div>
</div>
</body>