<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-bottom-bottom">
            <div class="top-nav">
                <span class="menu"> </span>
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    {{#each type_list}}
                        <li><a href="/type/{{this._id}}">{{this.name}}</a></li><!--men.html-->
                    {{/each}}
                </ul>
                <script>
                    $("span.menu").click(function () {
                        $(".top-nav ul").slideToggle(500, function () {
                        });
                    });
                </script>
                <div class="clearfix"></div>
            </div>
            <div class="search">
                <form action="/search/{{this.content}}" method="get">
                    <input type="text" name="content" placeholder="Search" onfocus="this.value = '';">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        {{#ifValue "13" mess}}
            <script>
                alert("Thông báo: Bạn phải đăng nhập trước khi thanh toán");
            </script>
        {{/ifValue}}
        {{#ifValue "14" mess}}
            <script>
                alert("Thông báo: Không có sản phẩm nào trong giỏ hàng");
            </script>
        {{/ifValue}}
        <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width:50%" >Product</th>
                <th style="width:15%" class="text-center">Price</th>
                <th style="width:15%" class="text-center">Quantity</th>
                <th style="width:20%" class="text-center">Subtotal</th>
                <th style="width:0%" ></th>
            </tr>
            </thead>
            {{#if product_list}}
                {{#each product_list}}
                    <tbody>
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src={{this.item.image}} alt="..."
                                                                     class="img-responsive"/></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">{{this.item.product_name}}</h4>
                                    <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price" class="text-center">{{formatCurrency this.item.discount_price}}</td>
                        <!--<td data-th="Quantity">
                            <input type="number" class="form-control text-center" value=this.item.qty}}>
                        </td>-->
                        <td id ="cartQuantity" data-th="Quantity" class="text-center">{{this.qty}}</td>
                        <td data-th="Subtotal" class="text-center">{{formatCurrency this.discount_price}}</td>
                        <th style="width:0%" class="text-center"></th>
                        <!--<td class="actions" data-th="">
                            <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                        </td>-->
                    </tr>
                    </tbody>
                {{/each}}
                <tfoot>
                <tr>
                    <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>{{formatCurrency totalPrice}}</strong></td>
                    <td><a href="/pay" class="btn btn-success btn-block">Check out<i class="fa fa-angle-right"></i></a></td>
                </tr>
                </tfoot>
            {{else}}
                <tbody>
                <tr>
                    <td>No Product</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>{{totalPrice}}</strong></td>
                    <td><a href="/pay" class="btn btn-success btn-block">Check out<i class="fa fa-angle-right"></i></a></td>
                </tr>
                </tfoot>
            {{/if}}
        </table>
    </div>
</div>
</body>